<div class="video-content video-content-grid-2">
  <div *ngIf='currentUser'>
    <app-ov-video [stream]='currentUser'></app-ov-video>
  </div>
  <div *ngFor='let user of users'>
    <app-ov-video [stream]='user'></app-ov-video>
  </div>
</div>
<div class="video-tools">
  <div *ngIf='!joined' class="video-tools__button video-tools__button-join" (click)='join()'>Join</div>
  <div  *ngIf='joined'  class="video-tools__button video-tools__button-end">End</div>
  <div class="video-tools__button video-tools__button-video"  (click)='changeVideoState()'>Video</div>
  <div class="video-tools__button video-tools__button-audio">Audio</div>
  <div class="video-tools__button video-tools__button-audio" (click)='share()'>Share</div>
</div>