<div class="video-content video-content-grid-4">
  <div *ngIf='currentUser'>
    <app-ov-video [stream]='currentUser'></app-ov-video>
  </div>
  <div>
    <app-ov-video></app-ov-video>
  </div>
  <div>
    <app-ov-video></app-ov-video>
  </div>
  <div>
    <app-ov-video></app-ov-video>
  </div>
</div>
<div class="video-tools">
  <div class="video-tools__button video-tools__button-join" (click)='join()'>Join</div>
  <div class="video-tools__button video-tools__button-end">End</div>
  <div class="video-tools__button video-tools__button-video">Video</div>
  <div class="video-tools__button video-tools__button-audio">Audio</div>
  <div class="video-tools__button video-tools__button-audio">Share</div>
</div>